@font-face {
  font-family: HelveticaNeue-Light;
  src: url('font/helveticaneue-light.otf');
}

@font-face {
  font-family: HelveticaNeue-Thin;
  src: url('font/helveticaneue-thin.otf');
}

body#tizen div.full-page {
  width: 360px;
  height: 610px;
}
body#tizen div {
  font-family: 'HelveticaNeue-Thin', 'HelveticaNeue-Light';
  text-shadow: none;
  font-weight: lighter;
}

body#tizen a {
  margin: 0;
  text-decoration: none;
}

div.full-row {
  height: 111px;
  /*line-height: 70px;*/
  font-size: 40px;
  padding-left: 20px;
  padding-top: 50px;
  color: white;
}

div.footer-row {
  height: 57px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 360px;
}

div.full-height {
  height: 610px;
}

div.subcontent {
  font-size: 40px;
  /*padding-left: 20px;*/
  padding-top: 50px;
  color: white;
}

div.back {
  background: url('images/back.png') no-repeat left center;
  background-size: 35px 25px;
  width: 40%;
  height: 100%;
  margin-left: 20px;
}

div.setting {
  background: url('images/setting.png') no-repeat right center;
  background-size: 35px 25px;
  width: 40%;
  height: 100%;
  margin-right: 20px;
}

#tizen .color1 {
  background-color: #74c9cb;
}
#tizen .color2 {
  background-color: #603813;
}
#tizen .color3 {
  background-color: #ea5e2f;
}
#tizen .color4 {
  background-color: #f9b42e;
}
#tizen .color5 {
  background-color: #6b5c3d;
}


body#tizen div.title {
  text-align: center;
  font-size: 44px;
}
body#tizen div.subtitle {
  font-family: "HelveticaNeue-Light";
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

div.contact-content {
  width: 310px;
  margin: 40px auto;
  /*height: 400px;*/
  background-color: white; 
}
div.contact-content ul {
  list-style-type: none;
  color: #747578; 
  font-size: 18px;
  /*display: table;*/
  padding: 30px 0;
}
div.contact-content ul li {
  /*vertical-align: middle;*/
  /*display: table-cell;*/
  /*border: 1px solid #747578;*/
  padding: 10px 0;
  padding-left: 40px;
  margin-left: 20px;
}
div.contact-content ul li.addr {
  background: url('images/addr.png') no-repeat left center;
  background-size: 20px 20px;
}
div.contact-content ul li.phone {
  background: url('images/phone.png') no-repeat left center;
  background-size: 20px 20px;
}
div.contact-content ul li.website {
  background: url('images/website.png') no-repeat left center;
  background-size: 20px 20px;
}
div.contact-content ul li.email {
  background: url('images/email.png') no-repeat left center;
  background-size: 20px 20px;
}
div.contact-row {
  background: #74c9cb url('images/contact.png') no-repeat right center;
  background-size: 116px 116px;
}
div.experience-row {
  background: #74c9cb url('images/experience.png') no-repeat right center;
  background-size: 116px 116px;
}
div.education-row {
  background: #74c9cb url('images/education.png') no-repeat right center;
  background-size: 116px 116px;
}
div.skill-row {
  background: #74c9cb url('images/skill.png') no-repeat right center;
  background-size: 116px 116px;
}
div.project-row {
  background: #74c9cb url('images/project.png') no-repeat right center;
  background-size: 116px 116px;
}
div.pinmo-image {
  background: url('images/pinmo.png') no-repeat center top;
  background-size: 116px 116px;
  position: relative;
  top: -20px;
}
div.later-image {
  background: url('images/later.png') no-repeat center top;
  background-size: 116px 116px;
  position: relative;
  top: -20px;
}
div.project-content {
  width: 310px;
  margin: 40px auto;
  height: 320px;
  background-color: white; 
}
div.project-content div {
  height: 200px;
}
